/target
/.cache
**/.DS_Store
Cargo.lock
/.idea
/generated
/core/spec/node_modules/
/.clwb
bazel-out
bazel-bin
bazel-env
.env.local
.env.postgres
.envexternals/openapi/node_modules
gateways/openapi/azure/vsts-rest-api-specs-master/
