{{!--
  Arguments:
  - site_url: The URL of the site.
  - confirmation_url: The URL for the user to confirm their signup.
  - user_email: The email address of the user.
--}}
<h2>Confirm your signup</h2>

<p>Confirm your signup on {{site_url}}.</p>

<p>User: {{user_email}}</p>

<p>Follow this link to confirm your email:</p>

<p><a href="{{confirmation_url}}">Confirm your email</a></p>
