{{!--
  Arguments:
  - site_url: The URL of the site.
  - confirmation_url: The URL for the user to log in via magic link.
  - user_email: The email address of the user.
--}}
<h2>Magic Link</h2>

<p>Use the following link to log in to {{site_url}}:</p>

<p>User: {{user_email}}</p>

<p><a href="{{confirmation_url}}">Log In</a></p>
