{{!--
  Arguments:
  - site_url: The URL of the site.
  - confirmation_url: The URL for the user to confirm their email change.
  - old_email: The current email address of the user.
  - new_email: The new email address the user is changing to.
--}}
<h2>Confirm Change of Email</h2>

<p>Confirm the change of your email address for {{site_url}}.</p>

<p>Current email: {{old_email}}</p>
<p>New email: {{new_email}}</p>

<p>Follow this link to confirm the change:</p>

<p><a href="{{confirmation_url}}">Change Email</a></p>
