{{!--
  Arguments:
  - site_url: The URL of the site.
  - confirmation_url: The URL for the user to reset their password.
  - user_email: The email address of the user.
--}}
<h2>Reset Password</h2>

<p>Reset your password for {{site_url}}.</p>

<p>User: {{user_email}}</p>

<p>Follow this link to reset your password:</p>

<p><a href="{{confirmation_url}}">Reset Password</a></p>
