{
  "openapi": "3.0.3",
  "info": {
    "title": "GitHub v3 REST API",
    "version": "1.1.4"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}/commits": {
      "get": {
        "summary": "List commits",
        "description": "**Signature verification object**\n\nThe response will include a `verification` object that describes the result of verifying the commit's signature. The following fields are included in the `verification` object:\n\n| Name | Type | Description |\n| ---- | ---- | ----------- |\n| `verified` | `boolean` | ",
        "tags": [
          "repos"
        ],
        "operationId": "repos/list-commits",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/commits/commits#list-commits"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "sha",
            "description": "SHA or branch to start listing commits from. Default: the repository’s default branch (usually `main`).",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "description": "Only commits containing this file path will be returned.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "description": "GitHub username or email address to use to filter by commit author.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "committer",
            "description": "GitHub username or email address to use to filter by commit committer.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "description": "Only show results that were last updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`. Due to limitations of Git, timestamps must be between 1970-01-01 and 2099-12-31 (inclusive) or unexpected results may be returned.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "description": "Only commits before this date will be returned. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`. Due to limitations of Git, timestamps must be between 1970-01-01 and 2099-12-31 (inclusive) or unexpected results may be returned.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/commit"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/commit-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internal_error"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "commits",
          "subcategory": "commits"
        },
        "x-sub-operation-id": "list_commits",
        "x-group": "repos",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 600
          }
        }
      }
    },
    "/repos/{owner}/{repo}/commits/{commit_sha}/comments": {
      "get": {
        "summary": "List commit comments",
        "description": "Lists the comments for a specified commit.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github-commitcomment.raw+json`**: Retur",
        "tags": [
          "repos"
        ],
        "operationId": "repos/list-comments-for-commit",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/commits/comments#list-commit-comments"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/commit-sha"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/commit-comment"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/commit-comment-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "commits",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "list_comments_for_commit",
        "x-group": "repos",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 10
          }
        }
      },
      "post": {
        "summary": "Create a commit comment",
        "description": "Create a comment for a commit using its `:commit_sha`.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more info",
        "tags": [
          "repos"
        ],
        "operationId": "repos/create-commit-comment",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/commits/comments#create-a-commit-comment"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/commit-sha"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The contents of the comment."
                  },
                  "path": {
                    "type": "string",
                    "description": "Relative path of the file to comment on."
                  },
                  "position": {
                    "type": "integer",
                    "description": "Line index in the diff to comment on."
                  },
                  "line": {
                    "type": "integer",
                    "description": "**Deprecated**. Use **position** parameter instead. Line number in the file to comment on."
                  }
                },
                "required": [
                  "body"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "body": "Great stuff",
                    "path": "file1.txt",
                    "position": 4,
                    "line": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commit-comment"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/commit-comment"
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "example": "https://api.github.com/repos/octocat/Hello-World/comments/1",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "triggersNotification": true,
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "commits",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "create_commit_comment",
        "x-group": "repos",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 0
          }
        }
      }
    },
    "/repos/{owner}/{repo}/commits/{commit_sha}/pulls": {
      "get": {
        "summary": "List pull requests associated with a commit",
        "description": "Lists the merged pull request that introduced the commit to the repository. If the commit is not present in the default branch, will only return open pull requests associated with the commit.\n\nTo list the open or merged pull requests associated with a branch, you can set the `commit_sha` parameter t",
        "tags": [
          "repos"
        ],
        "operationId": "repos/list-pull-requests-associated-with-commit",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/commits/commits#list-pull-requests-associated-with-a-commit"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/commit-sha"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pull-request-simple"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-simple-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "commits",
          "subcategory": "commits"
        },
        "x-sub-operation-id": "list_pull_requests_associated_with_commit",
        "x-group": "repos",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 600
          }
        }
      }
    },
    "/repos/{owner}/{repo}/commits/{ref}": {
      "get": {
        "summary": "Get a commit",
        "description": "Returns the contents of a single commit reference. You must have `read` access for the repository to use this endpoint.\n\n> [!NOTE]\n> If there are more than 300 files in the commit diff and the default JSON media type is requested, the response will include pagination link headers for the remaining f",
        "tags": [
          "repos"
        ],
        "operationId": "repos/get-commit",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/commits/commits#get-a-commit"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/commit-ref"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commit"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/commit"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          },
          "500": {
            "$ref": "#/components/responses/internal_error"
          },
          "503": {
            "$ref": "#/components/responses/service_unavailable"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "commits",
          "subcategory": "commits"
        },
        "x-sub-operation-id": "get_commit",
        "x-group": "repos",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 3600
          }
        }
      }
    },
    "/repos/{owner}/{repo}/commits/{ref}/check-runs": {
      "get": {
        "summary": "List check runs for a Git reference",
        "description": "Lists check runs for a commit ref. The `ref` can be a SHA, branch name, or a tag name.\n\n> [!NOTE]\n> The endpoints to manage checks only look for pushes in the repository where the check suite or check run were created. Pushes to a branch in a forked repository are not detected and return an empty `p",
        "tags": [
          "checks"
        ],
        "operationId": "checks/list-for-ref",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/checks/runs#list-check-runs-for-a-git-reference"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/commit-ref"
          },
          {
            "$ref": "#/components/parameters/check-name"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "name": "filter",
            "description": "Filters check runs by their `completed_at` timestamp. `latest` returns the most recent check runs.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "all"
              ],
              "default": "latest"
            }
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total_count",
                    "check_runs"
                  ],
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "check_runs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/check-run"
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/check-run-paginated"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "checks",
          "subcategory": "runs"
        },
        "x-sub-operation-id": "list_for_ref",
        "x-group": "checks",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 600
          }
        }
      }
    },
    "/repos/{owner}/{repo}/commits/{ref}/statuses": {
      "get": {
        "summary": "List commit statuses for a reference",
        "description": "Users with pull access in a repository can view commit statuses for a given ref. The ref can be a SHA, a branch name, or a tag name. Statuses are returned in reverse chronological order. The first status in the list will be the latest one.\n\nThis resource is also available via a legacy route: `GET /r",
        "tags": [
          "repos"
        ],
        "operationId": "repos/list-commit-statuses-for-ref",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/commits/statuses#list-commit-statuses-for-a-reference"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/commit-ref"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/status"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/status-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/moved_permanently"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "commits",
          "subcategory": "statuses"
        },
        "x-sub-operation-id": "list_commit_statuses_for_ref",
        "x-group": "repos",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 600
          }
        }
      }
    },
    "/repos/{owner}/{repo}/comments": {
      "get": {
        "summary": "List commit comments for a repository",
        "description": "Lists the commit comments for a specified repository. Comments are ordered by ascending ID.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`applic",
        "tags": [
          "repos"
        ],
        "operationId": "repos/list-commit-comments-for-repo",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/commits/comments#list-commit-comments-for-a-repository"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/commit-comment"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/commit-comment-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "commits",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "list_commit_comments_for_repo",
        "x-group": "repos",
        "x-cache": {
          "enabled": true,
          "params": {
            "ty": "SizedCache<String, String>",
            "create": "{ SizedCache::with_size(100) }",
            "convert": "{ format!(\"{}\", key) }",
            "time": 600
          }
        }
      }
    },
    "/repos/{owner}/{repo}/pulls": {
      "get": {
        "summary": "List pull requests",
        "description": "Lists pull requests in a specified repository.\n\nDraft pull requests are available in public repositories with GitHub\nFree and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing\nplans, and in public and private repositories with GitHub Team and GitHub Enterprise\nCloud. For m",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/list",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/pulls#list-pull-requests"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "state",
            "description": "Either `open`, `closed`, or `all` to filter by state.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "all"
              ],
              "default": "open"
            }
          },
          {
            "name": "head",
            "description": "Filter pulls by head user or head organization and branch name in the format of `user:ref-name` or `organization:ref-name`. For example: `github:new-script-format` or `octocat:test-branch`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "description": "Filter pulls by base branch name. Example: `gh-pages`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "description": "What to sort results by. `popularity` will sort by the number of comments. `long-running` will sort by date created and will limit the results to pull requests that have been open for more than a month and have had activity within the past month.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated",
                "popularity",
                "long-running"
              ],
              "default": "created"
            }
          },
          {
            "name": "direction",
            "description": "The direction of the sort. Default: `desc` when sort is `created` or sort is not specified, otherwise `asc`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pull-request-simple"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-simple-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/not_modified"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "pulls"
        },
        "x-sub-operation-id": "list",
        "x-group": "pulls"
      },
      "post": {
        "summary": "Create a pull request",
        "description": "Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub Enterprise Cloud. For more information, see [GitHub's products](https:/",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/create",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/pulls#create-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the new pull request. Required unless `issue` is specified."
                  },
                  "head": {
                    "type": "string",
                    "description": "The name of the branch where your changes are implemented. For cross-repository pull requests in the same network, namespace `head` with a user like this: `username:branch`."
                  },
                  "head_repo": {
                    "type": "string",
                    "description": "The name of the repository where the changes in the pull request were made. This field is required for cross-repository pull requests if both repositories are owned by the same organization.",
                    "format": "repo.nwo",
                    "example": "octo-org/octo-repo"
                  },
                  "base": {
                    "type": "string",
                    "description": "The name of the branch you want the changes pulled into. This should be an existing branch on the current repository. You cannot submit a pull request to one repository that requests a merge to a base of another repository."
                  },
                  "body": {
                    "type": "string",
                    "description": "The contents of the pull request."
                  },
                  "maintainer_can_modify": {
                    "type": "boolean",
                    "description": "Indicates whether [maintainers can modify](https://docs.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/) the pull request."
                  },
                  "draft": {
                    "type": "boolean",
                    "description": "Indicates whether the pull request is a draft. See \"[Draft Pull Requests](https://docs.github.com/articles/about-pull-requests#draft-pull-requests)\" in the GitHub Help documentation to learn more."
                  },
                  "issue": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1,
                    "description": "An issue in the repository to convert to a pull request. The issue title, body, and comments will become the title, body, and comments on the new pull request. Required unless `title` is specified."
                  }
                },
                "required": [
                  "head",
                  "base"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "title": "Amazing new feature",
                    "body": "Please pull these awesome changes in!",
                    "head": "octocat:new-feature",
                    "base": "master"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request"
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1347",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "triggersNotification": true,
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "pulls"
        },
        "x-sub-operation-id": "create",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}": {
      "get": {
        "summary": "Get a pull request",
        "description": "Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub Enterprise Cloud. For more information, see [GitHub's products](https:/",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/get",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/pulls#get-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          }
        ],
        "responses": {
          "200": {
            "description": "Pass the appropriate [media type](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types) to fetch diff and patch formats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/not_modified"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/unacceptable"
          },
          "500": {
            "$ref": "#/components/responses/internal_error"
          },
          "503": {
            "$ref": "#/components/responses/service_unavailable"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "pulls"
        },
        "x-sub-operation-id": "get",
        "x-group": "pulls"
      },
      "patch": {
        "summary": "Update a pull request",
        "description": "Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub Enterprise Cloud. For more information, see [GitHub's products](https:/",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/update",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/pulls#update-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the pull request."
                  },
                  "body": {
                    "type": "string",
                    "description": "The contents of the pull request."
                  },
                  "state": {
                    "type": "string",
                    "description": "State of this Pull Request. Either `open` or `closed`.",
                    "enum": [
                      "open",
                      "closed"
                    ]
                  },
                  "base": {
                    "type": "string",
                    "description": "The name of the branch you want your changes pulled into. This should be an existing branch on the current repository. You cannot update the base branch on a pull request to point to another repository."
                  },
                  "maintainer_can_modify": {
                    "type": "boolean",
                    "description": "Indicates whether [maintainers can modify](https://docs.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/) the pull request."
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "title": "new title",
                    "body": "updated body",
                    "state": "open",
                    "base": "master"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "pulls"
        },
        "x-sub-operation-id": "update",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/comments": {
      "get": {
        "summary": "List review comments on a pull request",
        "description": "Lists all review comments for a specified pull request. By default, review comments\nare in ascending order by ID.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/list-review-comments",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/comments#list-review-comments-on-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "name": "direction",
            "description": "The direction to sort results. Ignored without `sort` parameter.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/since"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pull-request-review-comment"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-review-comment-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "list_review_comments",
        "x-group": "pulls"
      },
      "post": {
        "summary": "Create a review comment for a pull request",
        "description": "Creates a review comment on the diff of a specified pull request. To add a regular comment to a pull request timeline, see \"[Create an issue comment](https://docs.github.com/rest/issues/comments#create-an-issue-comment).\"\n\nIf your comment applies to more than one line in the pull request diff, you s",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/create-review-comment",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/comments#create-a-review-comment-for-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The text of the review comment."
                  },
                  "commit_id": {
                    "type": "string",
                    "description": "The SHA of the commit needing a comment. Not using the latest commit SHA may render your comment outdated if a subsequent commit modifies the line you specify as the `position`."
                  },
                  "path": {
                    "type": "string",
                    "description": "The relative path to the file that necessitates a comment."
                  },
                  "position": {
                    "type": "integer",
                    "description": "**This parameter is deprecated. Use `line` instead**. The position in the diff where you want to add a review comment. Note this value is not the same as the line number in the file. The position value equals the number of lines down from the first \"@@\" hunk header in the file you want to add a comm",
                    "deprecated": true,
                    "x-github": {
                      "deprecationDate": "2022-11-01"
                    }
                  },
                  "side": {
                    "type": "string",
                    "description": "In a split diff view, the side of the diff that the pull request's changes appear on. Can be `LEFT` or `RIGHT`. Use `LEFT` for deletions that appear in red. Use `RIGHT` for additions that appear in green or unchanged lines that appear in white and are shown for context. For a multi-line comment, sid",
                    "enum": [
                      "LEFT",
                      "RIGHT"
                    ]
                  },
                  "line": {
                    "type": "integer",
                    "description": "**Required unless using `subject_type:file`**. The line of the blob in the pull request diff that the comment applies to. For a multi-line comment, the last line of the range that your comment applies to."
                  },
                  "start_line": {
                    "type": "integer",
                    "description": "**Required when using multi-line comments unless using `in_reply_to`**. The `start_line` is the first line in the pull request diff that your multi-line comment applies to. To learn more about multi-line comments, see \"[Commenting on a pull request](https://docs.github.com/articles/commenting-on-a-p"
                  },
                  "start_side": {
                    "type": "string",
                    "description": "**Required when using multi-line comments unless using `in_reply_to`**. The `start_side` is the starting side of the diff that the comment applies to. Can be `LEFT` or `RIGHT`. To learn more about multi-line comments, see \"[Commenting on a pull request](https://docs.github.com/articles/commenting-on",
                    "enum": [
                      "LEFT",
                      "RIGHT",
                      "side"
                    ]
                  },
                  "in_reply_to": {
                    "type": "integer",
                    "example": 2,
                    "description": "The ID of the review comment to reply to. To find the ID of a review comment with [\"List review comments on a pull request\"](#list-review-comments-on-a-pull-request). When specified, all parameters other than `body` in the request body are ignored."
                  },
                  "subject_type": {
                    "type": "string",
                    "description": "The level at which the comment is targeted.",
                    "enum": [
                      "line",
                      "file"
                    ]
                  }
                },
                "required": [
                  "body",
                  "commit_id",
                  "path"
                ]
              },
              "examples": {
                "example-for-a-multi-line-comment": {
                  "summary": "Example for a multi-line comment",
                  "value": {
                    "body": "Great stuff!",
                    "commit_id": "6dcb09b5b57875f334f61aebed695e2e4193db5e",
                    "path": "file1.txt",
                    "start_line": 1,
                    "start_side": "RIGHT",
                    "line": 2,
                    "side": "RIGHT"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request-review-comment"
                },
                "examples": {
                  "example-for-a-multi-line-comment": {
                    "$ref": "#/components/examples/pull-request-review-comment-example-for-a-multi-line-comment"
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "example": "https://api.github.com/repos/octocat/Hello-World/pulls/comments/1",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "triggersNotification": true,
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "create_review_comment",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/pulls/comments/{comment_id}": {
      "patch": {
        "summary": "Update a review comment for a pull request",
        "description": "Edits the content of a specified review comment.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github-commitcomment.raw+json`**:",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/update-review-comment",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/comments#update-a-review-comment-for-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/comment-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The text of the reply to the review comment."
                  }
                },
                "required": [
                  "body"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "body": "I like this too!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request-review-comment"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-review-comment-2"
                  }
                }
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "update_review_comment",
        "x-group": "pulls"
      },
      "delete": {
        "summary": "Delete a review comment for a pull request",
        "description": "Deletes a review comment.",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/delete-review-comment",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/comments#delete-a-review-comment-for-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/comment-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "delete_review_comment",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews": {
      "get": {
        "summary": "List reviews for a pull request",
        "description": "Lists all reviews for a specified pull request. The list of reviews returns in chronological order.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- *",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/list-reviews",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/reviews#list-reviews-for-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of reviews returns in chronological order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pull-request-review"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-review-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "reviews"
        },
        "x-sub-operation-id": "list_reviews",
        "x-group": "pulls"
      },
      "post": {
        "summary": "Create a review for a pull request",
        "description": "Creates a review on a specified pull request.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, ",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/create-review",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/reviews#create-a-review-for-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "commit_id": {
                    "type": "string",
                    "description": "The SHA of the commit that needs a review. Not using the latest commit SHA may render your review comment outdated if a subsequent commit modifies the line you specify as the `position`. Defaults to the most recent commit in the pull request when you do not specify a value."
                  },
                  "body": {
                    "type": "string",
                    "description": "**Required** when using `REQUEST_CHANGES` or `COMMENT` for the `event` parameter. The body text of the pull request review."
                  },
                  "event": {
                    "type": "string",
                    "description": "The review action you want to perform. The review actions include: `APPROVE`, `REQUEST_CHANGES`, or `COMMENT`. By leaving this blank, you set the review action state to `PENDING`, which means you will need to [submit the pull request review](https://docs.github.com/rest/pulls/reviews#submit-a-review",
                    "enum": [
                      "APPROVE",
                      "REQUEST_CHANGES",
                      "COMMENT"
                    ]
                  },
                  "comments": {
                    "type": "array",
                    "description": "Use the following table to specify the location, destination, and contents of the draft review comment.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string",
                          "description": "The relative path to the file that necessitates a review comment."
                        },
                        "position": {
                          "type": "integer",
                          "description": "The position in the diff where you want to add a review comment. Note this value is not the same as the line number in the file. The `position` value equals the number of lines down from the first \"@@\" hunk header in the file you want to add a comment. The line just below the \"@@\" line is position 1"
                        },
                        "body": {
                          "type": "string",
                          "description": "Text of the review comment."
                        },
                        "line": {
                          "type": "integer",
                          "example": 28
                        },
                        "side": {
                          "type": "string",
                          "example": "RIGHT"
                        },
                        "start_line": {
                          "type": "integer",
                          "example": 26
                        },
                        "start_side": {
                          "type": "string",
                          "example": "LEFT"
                        }
                      },
                      "required": [
                        "path",
                        "body"
                      ]
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "commit_id": "ecdd80bb57125d7ba9641ffaa4d7d2c19d3f3091",
                    "body": "This is close to perfect! Please address the suggested inline change.",
                    "event": "REQUEST_CHANGES",
                    "comments": [
                      {
                        "path": "file.md",
                        "position": 6,
                        "body": "Please add more information here, and fix this typo."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request-review"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-review"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed_simple"
          }
        },
        "x-github": {
          "triggersNotification": true,
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "reviews"
        },
        "x-sub-operation-id": "create_review",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews/{review_id}/dismissals": {
      "put": {
        "summary": "Dismiss a review for a pull request",
        "description": "Dismisses a specified review on a pull request.\n\n> [!NOTE]\n> To dismiss a pull request review on a [protected branch](https://docs.github.com/rest/branches/branch-protection), you must be a repository administrator or be included in the list of people or teams who can dismiss pull request reviews.\n\n",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/dismiss-review",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/reviews#dismiss-a-review-for-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          },
          {
            "$ref": "#/components/parameters/review-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The message for the pull request review dismissal"
                  },
                  "event": {
                    "type": "string",
                    "example": "\"DISMISS\"",
                    "enum": [
                      "DISMISS"
                    ]
                  }
                },
                "required": [
                  "message"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "message": "You are dismissed",
                    "event": "DISMISS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request-review"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-review-3"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed_simple"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "reviews"
        },
        "x-sub-operation-id": "dismiss_review",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews/{review_id}/events": {
      "post": {
        "summary": "Submit a review for a pull request",
        "description": "Submits a pending review for a pull request. For more information about creating a pending review for a pull request, see \"[Create a review for a pull request](https://docs.github.com/rest/pulls/reviews#create-a-review-for-a-pull-request).\"\n\nThis endpoint supports the following custom media types. F",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/submit-review",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/reviews#submit-a-review-for-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          },
          {
            "$ref": "#/components/parameters/review-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The body text of the pull request review"
                  },
                  "event": {
                    "type": "string",
                    "description": "The review action you want to perform. The review actions include: `APPROVE`, `REQUEST_CHANGES`, or `COMMENT`. When you leave this blank, the API returns _HTTP 422 (Unrecognizable entity)_ and sets the review action state to `PENDING`, which means you will need to re-submit the pull request review u",
                    "enum": [
                      "APPROVE",
                      "REQUEST_CHANGES",
                      "COMMENT"
                    ]
                  }
                },
                "required": [
                  "event"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "body": "Here is the body for the review.",
                    "event": "REQUEST_CHANGES"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request-review"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-review-4"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed_simple"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "reviews"
        },
        "x-sub-operation-id": "submit_review",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/merge": {
      "put": {
        "summary": "Merge a pull request",
        "description": "Merges a pull request into the base branch.\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/merge",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/pulls/pulls#merge-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "commit_title": {
                    "type": "string",
                    "description": "Title for the automatic commit message."
                  },
                  "commit_message": {
                    "type": "string",
                    "description": "Extra detail to append to automatic commit message."
                  },
                  "sha": {
                    "type": "string",
                    "description": "SHA that pull request head must match to allow merge."
                  },
                  "merge_method": {
                    "type": "string",
                    "description": "The merge method to use.",
                    "enum": [
                      "merge",
                      "squash",
                      "rebase"
                    ]
                  }
                }
              },
              "examples": {
                "response-if-merge-was-successful": {
                  "value": {
                    "commit_title": "Expand enum",
                    "commit_message": "Add a new value to the merge_method enum"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "if merge was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request-merge-result"
                },
                "examples": {
                  "response-if-merge-was-successful": {
                    "$ref": "#/components/examples/pull-request-merge-result-response-if-merge-was-successful"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "405": {
            "description": "Method Not Allowed if merge cannot be performed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "documentation_url": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "response-if-merge-cannot-be-performed": {
                    "value": {
                      "message": "Pull Request is not mergeable"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict if sha was provided and pull request head did not match",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "documentation_url": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "response-if-sha-was-provided-and-pull-request-head-did-not-match": {
                    "value": {
                      "message": "Head branch was modified. Review and try the merge again."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "triggersNotification": true,
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": "pulls"
        },
        "x-sub-operation-id": "merge",
        "x-group": "pulls"
      }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/comments": {
      "get": {
        "summary": "List issue comments",
        "description": "You can use the REST API to list comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.\n\nIssue comments are ordered by ascending ID.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.g",
        "tags": [
          "issues"
        ],
        "operationId": "issues/list-comments",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/issues/comments#list-issue-comments"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/issue-number"
          },
          {
            "$ref": "#/components/parameters/since"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/issue-comment"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/issue-comment-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "410": {
            "$ref": "#/components/responses/gone"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "issues",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "list_comments",
        "x-group": "issues"
      },
      "post": {
        "summary": "Create an issue comment",
        "description": "You can use the REST API to create comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).\nCreating con",
        "tags": [
          "issues"
        ],
        "operationId": "issues/create-comment",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/issues/comments#create-an-issue-comment"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/issue-number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The contents of the comment."
                  }
                },
                "required": [
                  "body"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "body": "Me too"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issue-comment"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/issue-comment"
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "example": "https://api.github.com/repos/octocat/Hello-World/issues/comments/1",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "410": {
            "$ref": "#/components/responses/gone"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "triggersNotification": true,
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "issues",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "create_comment",
        "x-group": "issues"
      }
    },
    "/repos/{owner}/{repo}/issues/comments/{comment_id}": {
      "patch": {
        "summary": "Update an issue comment",
        "description": "You can use the REST API to update comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-s",
        "tags": [
          "issues"
        ],
        "operationId": "issues/update-comment",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/issues/comments#update-an-issue-comment"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/comment-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The contents of the comment."
                  }
                },
                "required": [
                  "body"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "body": "Me too"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issue-comment"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/issue-comment"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "issues",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "update_comment",
        "x-group": "issues"
      },
      "delete": {
        "summary": "Delete an issue comment",
        "description": "You can use the REST API to delete comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.",
        "tags": [
          "issues"
        ],
        "operationId": "issues/delete-comment",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/issues/comments#delete-an-issue-comment"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/comment-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "issues",
          "subcategory": "comments"
        },
        "x-sub-operation-id": "delete_comment",
        "x-group": "issues"
      }
    },
    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "summary": "Get repository content",
        "description": "Gets the contents of a file or directory in a repository. Specify the file path or directory with the `path` parameter. If you omit the `path` parameter, you will receive the contents of the repository's root directory.\n\nThis endpoint supports the following custom media types. For more information, ",
        "tags": [
          "repos"
        ],
        "operationId": "repos/get-content",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/repos/contents#get-repository-content"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "path",
            "description": "path parameter",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-multi-segment": true
          },
          {
            "name": "ref",
            "description": "The name of the commit/branch/tag. Default: the repository’s default branch.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/vnd.github.object": {
                "schema": {
                  "$ref": "#/components/schemas/content-tree"
                },
                "examples": {
                  "response-if-content-is-a-file": {
                    "$ref": "#/components/examples/content-file-response-if-content-is-a-file"
                  },
                  "response-if-content-is-a-directory": {
                    "$ref": "#/components/examples/content-file-response-if-content-is-a-directory-object"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/content-directory"
                    },
                    {
                      "$ref": "#/components/schemas/content-file"
                    },
                    {
                      "$ref": "#/components/schemas/content-symlink"
                    },
                    {
                      "$ref": "#/components/schemas/content-submodule"
                    }
                  ]
                },
                "examples": {
                  "response-if-content-is-a-file": {
                    "$ref": "#/components/examples/content-file-response-if-content-is-a-file"
                  },
                  "response-if-content-is-a-directory": {
                    "$ref": "#/components/examples/content-file-response-if-content-is-a-directory"
                  },
                  "response-if-content-is-a-symlink": {
                    "$ref": "#/components/examples/content-file-response-if-content-is-a-symlink"
                  },
                  "response-if-content-is-a-submodule": {
                    "$ref": "#/components/examples/content-file-response-if-content-is-a-submodule"
                  }
                }
              }
            }
          },
          "302": {
            "$ref": "#/components/responses/found"
          },
          "304": {
            "$ref": "#/components/responses/not_modified"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "repos",
          "subcategory": "contents"
        },
        "x-sub-operation-id": "get_content",
        "x-group": "repos"
      },
      "delete": {
        "summary": "Delete a file",
        "description": "Deletes a file in a repository.\n\nYou can provide an additional `committer` parameter, which is an object containing information about the committer. Or, you can provide an `author` parameter, which is an object containing information about the author.\n\nThe `author` section is optional and is filled ",
        "tags": [
          "repos"
        ],
        "operationId": "repos/delete-file",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/repos/contents#delete-a-file"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "path",
            "description": "path parameter",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-multi-segment": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The commit message."
                  },
                  "sha": {
                    "type": "string",
                    "description": "The blob SHA of the file being deleted."
                  },
                  "branch": {
                    "type": "string",
                    "description": "The branch name. Default: the repository’s default branch"
                  },
                  "committer": {
                    "type": "object",
                    "description": "object containing information about the committer.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the author (or committer) of the commit"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email of the author (or committer) of the commit"
                      }
                    }
                  },
                  "author": {
                    "type": "object",
                    "description": "object containing information about the author.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the author (or committer) of the commit"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email of the author (or committer) of the commit"
                      }
                    }
                  }
                },
                "required": [
                  "message",
                  "sha"
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "message": "my commit message",
                    "committer": {
                      "name": "Monalisa Octocat",
                      "email": "octocat@github.com"
                    },
                    "sha": "329688480d39049927147c162b9d2deaf885005f"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file-commit"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/file-commit"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          },
          "503": {
            "$ref": "#/components/responses/service_unavailable"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "repos",
          "subcategory": "contents"
        },
        "x-sub-operation-id": "delete_file",
        "x-group": "repos"
      }
    },
    "/user": {
      "get": {
        "summary": "Get the authenticated user",
        "description": "OAuth app tokens and personal access tokens (classic) need the `user` scope in order for the response to include private profile information.",
        "tags": [
          "users"
        ],
        "operationId": "users/get-authenticated",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/users/users#get-the-authenticated-user"
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/private-user"
                    },
                    {
                      "$ref": "#/components/schemas/public-user"
                    }
                  ]
                },
                "examples": {
                  "response-with-public-and-private-profile-information": {
                    "$ref": "#/components/examples/private-user-response-with-public-and-private-profile-information"
                  },
                  "response-with-public-profile-information": {
                    "$ref": "#/components/examples/private-user-response-with-public-profile-information"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/not_modified"
          },
          "401": {
            "$ref": "#/components/responses/requires_authentication"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": false,
          "category": "users",
          "subcategory": "users"
        },
        "x-sub-operation-id": "get_authenticated",
        "x-group": "users"
      }
    },
    "/users/{username}": {
      "get": {
        "summary": "Get a user",
        "description": "Provides publicly available information about someone with a GitHub account.\n\nThe `email` key in the following response is the publicly visible email address from your GitHub [profile page](https://github.com/settings/profile). When setting up your profile, you can select a primary email address to ",
        "tags": [
          "users"
        ],
        "operationId": "users/get-by-username",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/users/users#get-a-user"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/private-user"
                    },
                    {
                      "$ref": "#/components/schemas/public-user"
                    }
                  ]
                },
                "examples": {
                  "default-response": {
                    "$ref": "#/components/examples/public-user-default-response"
                  },
                  "response-with-git-hub-plan-information": {
                    "$ref": "#/components/examples/public-user-response-with-git-hub-plan-information"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "users",
          "subcategory": "users"
        },
        "x-sub-operation-id": "get_by_username",
        "x-group": "users"
      }
    },
    "/user/followers": {
      "get": {
        "summary": "List followers of the authenticated user",
        "description": "Lists the people following the authenticated user.",
        "tags": [
          "users"
        ],
        "operationId": "users/list-followers-for-authenticated-user",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/users/followers#list-followers-of-the-authenticated-user"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/simple-user"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/simple-user-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/not_modified"
          },
          "401": {
            "$ref": "#/components/responses/requires_authentication"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": false,
          "category": "users",
          "subcategory": "followers"
        },
        "x-sub-operation-id": "list_followers_for_authenticated_user",
        "x-group": "users"
      }
    },
    "/users/{username}/followers": {
      "get": {
        "summary": "List followers of a user",
        "description": "Lists the people following the specified user.",
        "tags": [
          "users"
        ],
        "operationId": "users/list-followers-for-user",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/users/followers#list-followers-of-a-user"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/simple-user"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/simple-user-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "users",
          "subcategory": "followers"
        },
        "x-sub-operation-id": "list_followers_for_user",
        "x-group": "users"
      }
    },
    "/users/{username}/following": {
      "get": {
        "summary": "List the people a user follows",
        "description": "Lists the people who the specified user follows.",
        "tags": [
          "users"
        ],
        "operationId": "users/list-following-for-user",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/rest/users/followers#list-the-people-a-user-follows"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/simple-user"
[...]
