<h2>Confirm email address change</h2>
<p>Click the link below to confirm the change of your email address from {{old_email}} to {{new_email}}:</p>
<p><a href="{{confirmation_url}}">Confirm change</a></p>
